{% extends "base.html" %}

{% block title %}
    <title>Morse Code</title>
{% endblock %}

{% block meta %}
    <meta content="" name="description">
    <meta content="" name="keywords">
{% endblock %}

{% block content %}
    {% from "bootstrap5/form.html" import render_form %}
    <div class="container">
        <h1>Create morse code!</h1>

        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        <h2>In Morse Code:</h2>
        <pre>{{ encoded }}</pre>
    </div>
{% endblock %}